* {
    box-sizing: border-box;
    font-family: Poppins,
    sans-serif;
    
}

.cards-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:350px;
    margin: 20px;
}

.cards-component h1 {
    font-size: 18px;
    color: white;
    margin-bottom:9px;
    font-weight: 400;
}

.cards-component p {
   color: #c6c9d8;
   font-weight: 300;
   opacity: .75;
font-size: 16px !important;
line-height: 28px !important;
}

.cards-component img {
    box-sizing: border-box;
    max-width: 80px;
    max-height: 70px;
    margin-left: 0;
    margin-bottom: 20px;
}